# Rust build artifacts
**/target

# Python virtual environment
.venv/
venv/

# Sphinx build output
docs/_build/

# Python cache files
__pycache__/

# Compiled Python extension module
*.so
*.pyd
*.pyd.lib
*.pyd.exp
*.pyd.pdb

# Maturin build artifacts
dist/

# IDE files
.vscode/